extends layout

block content
  .main.container
    .row
      .col-md-10.col-md-offset-1
        h1.display-4.m-b-2.animated.lightSpeedIn Plan Your Trip
    .row.visit
      h2.display-4-m-b-2 Jerusalem
      .col-md-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec hendrerit purus, sed malesuada ex. Suspendisse pharetra varius arcu nec imperdiet. Sed eget nunc ut orci fringilla iaculis in pulvinar ex. Curabitur molestie, risus et tincidunt condimentum, massa sem viverra quam, id finibus est dolor nec enim. Morbi luctus sit amet augue sit amet tempus. Proin rhoncus interdum est, sed interdum velit tempus consectetur. Phasellus at nunc ac erat tincidunt tincidunt.
        p Morbi mollis convallis sem lobortis blandit. Maecenas quis ante quis lectus sagittis porttitor eu vitae purus. Morbi erat lectus, malesuada eu dolor ut, maximus consectetur lectus. Donec pretium mattis enim, in congue ipsum faucibus at. Etiam hendrerit ut augue non gravida. Curabitur auctor justo eu pellentesque eleifend. Maecenas facilisis lectus quis imperdiet aliquam. Integer tincidunt leo a nisl faucibus, a tincidunt massa aliquet.
        a.btn.btn-info(href="/profile") Add to Itinerary
      .col-md-6
        img(src="../images/jerusalem.jpg" alt="Jerusalem" class="img-fluid")
    .row.visit
      h2.display-4-m-b-2 Tel Aviv
      .col-md-6
        img(src="../images/tel-aviv.jpg" alt="Tel Aviv" class="img-fluid")
      .col-md-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec hendrerit purus, sed malesuada ex. Suspendisse pharetra varius arcu nec imperdiet. Sed eget nunc ut orci fringilla iaculis in pulvinar ex. Curabitur molestie, risus et tincidunt condimentum, massa sem viverra quam, id finibus est dolor nec enim. Morbi luctus sit amet augue sit amet tempus. Proin rhoncus interdum est, sed interdum velit tempus consectetur. Phasellus at nunc ac erat tincidunt tincidunt.
        p Morbi mollis convallis sem lobortis blandit. Maecenas quis ante quis lectus sagittis porttitor eu vitae purus. Morbi erat lectus, malesuada eu dolor ut, maximus consectetur lectus. Donec pretium mattis enim, in congue ipsum faucibus at. Etiam hendrerit ut augue non gravida. Curabitur auctor justo eu pellentesque eleifend. Maecenas facilisis lectus quis imperdiet aliquam. Integer tincidunt leo a nisl faucibus, a tincidunt massa aliquet.
        a.btn.btn-info(href="/profile") Add to Itinerary
    .row.visit
      h2.display-4-m-b-2 Masada National Park
      .col-md-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec hendrerit purus, sed malesuada ex. Suspendisse pharetra varius arcu nec imperdiet. Sed eget nunc ut orci fringilla iaculis in pulvinar ex. Curabitur molestie, risus et tincidunt condimentum, massa sem viverra quam, id finibus est dolor nec enim. Morbi luctus sit amet augue sit amet tempus. Proin rhoncus interdum est, sed interdum velit tempus consectetur. Phasellus at nunc ac erat tincidunt tincidunt.
        p Morbi mollis convallis sem lobortis blandit. Maecenas quis ante quis lectus sagittis porttitor eu vitae purus. Morbi erat lectus, malesuada eu dolor ut, maximus consectetur lectus. Donec pretium mattis enim, in congue ipsum faucibus at. Etiam hendrerit ut augue non gravida. Curabitur auctor justo eu pellentesque eleifend. Maecenas facilisis lectus quis imperdiet aliquam. Integer tincidunt leo a nisl faucibus, a tincidunt massa aliquet.
        a.btn.btn-info(href="/profile") Add to Itinerary
      .col-md-6
        img(src="../images/masada.jpg" alt="Masada National Park" class="img-fluid")
    .row.visit
      h2.display-4-m-b-2 Haifa
      .col-md-6
        img(src="../images/haifa.jpg" alt="haifa" class="img-fluid")
      .col-md-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec hendrerit purus, sed malesuada ex. Suspendisse pharetra varius arcu nec imperdiet. Sed eget nunc ut orci fringilla iaculis in pulvinar ex. Curabitur molestie, risus et tincidunt condimentum, massa sem viverra quam, id finibus est dolor nec enim. Morbi luctus sit amet augue sit amet tempus. Proin rhoncus interdum est, sed interdum velit tempus consectetur. Phasellus at nunc ac erat tincidunt tincidunt.
        p Morbi mollis convallis sem lobortis blandit. Maecenas quis ante quis lectus sagittis porttitor eu vitae purus. Morbi erat lectus, malesuada eu dolor ut, maximus consectetur lectus. Donec pretium mattis enim, in congue ipsum faucibus at. Etiam hendrerit ut augue non gravida. Curabitur auctor justo eu pellentesque eleifend. Maecenas facilisis lectus quis imperdiet aliquam. Integer tincidunt leo a nisl faucibus, a tincidunt massa aliquet.
        a.btn.btn-info(href="/profile") Add to Itinerary
